[Unit]
Description=Video Transcoding API Service

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/home/forge/video-transcoding-api.sportsrecruits.com/start.sh

[Install]
WantedBy=multi-user.target